/* /*@media screen  and (max-width: 425px){
    .smart-app{
        width: 80%;
        padding: 20px 0;
        align-content: center;
    }
    .login{
        background: #24353f;
        color: white;
        text-align: center;
        flex-direction: column;
        width: 100%;
        padding: 50px;
        display: flex;
        justify-content: center;
    }     
}
 @media screen and (max-width: 576px) {
    .smart-app{
        width: 80%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login{
        background: #24353f;
        color: white;
        text-align: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }      
}
@media screen and (min-width: 576px ) and (max-width:768px) {
    
}
@media screen and (min-width: 768px ) and (max-width:992px) {
    
}
@media screen and (min-width: 992px ) and (max-width:1200px) {
    
}
@media screen and (min-width: 1200px ) and (max-width:1400px) {
    
} 
